.content-1-items {
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0px 10px;
    
    .img-div {
        height: 28px;
        width: 28px;
    }
    
    .item-5 {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
}

.content-box-1 {
    height: 840px;
    width: 1300px;
    background-color: #ffffff;
    position: relative;
}
