.content-grid {
    display: grid;
    grid-gap: 33.333px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    
    .stuff {
        transition: .5s ease;
        display: inline;
        img {
            height: 100% !important;
            object-fit: cover;
        }
    }    

    // img {
    //     width: 100%;
    //     height: 100%;
    //     display: block;
    //     object-fit: cover;
    //     opacity: 1; 
    //     transition: .5s ease;
    //     backface-visibility: hidden;
    // }    

    .picture  {
        background-color: #f5f5f5;
        position: relative;
    }

    .picture:hover .stuff {
        opacity: 0.3;
      }
      
    .picture:hover .center {
        opacity: 1;
    }

    .readmore {
        background-color: #6adfb8;
        color: white;
        font-size: medium;
        padding: 12px 28px;
        box-shadow: 0 0 2px #245e4b;
    }

    .center {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }
}