.content_grid {
    height: 650px;
    display: grid;
    grid-gap: 33.333px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    .item_2_10 {
        //display: flex;
        //justify-content: center;
        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }
        
    }
}