.content_box_about {
    height: 1260px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    p {
        color: #cdcdcd;
        line-height: 30px;
        font-size: medium;
    }
}

.top_content {
    height: 450px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 125px;
    
}

.bottom_content {
    height: 660px;
    text-align: center;
}

.benefits_container {
    margin-top: 50px;
    text-align: left;
    display: grid;
    grid-gap: 33.333px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}