.line{
    display: inline-block;
    line-height: 1;
    text-decoration:none;
    cursor: pointer;
}
.line:after {
    background-color: #60606e;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.line:hover:after,
.line:focus:after {
    width: 100%;
}