.input-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 440px;
    width: 100%;
}

input {
    border: 1px solid #8f8f8f;
    padding-left: 20px;
    font-size: medium;
    color: #8f8f8f;
    font: normal medium/normal "Montserrat", Montserrat, sans-serif;
    box-sizing: border-box;
}

input::placeholder {
    color: #cdcdcd;
    font-size: small;
    font-weight: bold;
}

textarea {
    height: 200px; 
    width: 100%;
    padding-left: 20px; 
    padding-top: 20px;
    font-size: large;
    color: #8f8f8f;
    border: 1px solid #8f8f8f;
    font: normal medium/normal "Montserrat", Montserrat, sans-serif;
    box-sizing: border-box;  
    resize: none;     
}

.first-two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

textarea::placeholder {
    color: #cdcdcd;
    font-size: small;
    font-weight: bold;

    p {
        color: #8f8f8f;
        font-size: medium;
    }

    a {
        text-decoration: none;
        float: left;
    }
}

.buttonSend {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7beec7;
    width: 165px;
    height: 50px;
    border: 0px;
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    color: white;
    text-decoration: none;   
    float: left;
    cursor: pointer;
    /*font-weight: bold;
    font-size: small;*/
    font: bold small "Montserrat", Montserrat, sans-serif;
}

.buttonSend:hover {
    box-shadow: 0 0 5px #2d5e4e;
    background-color: #7beec7;
    transition: all 200ms cubic-bezier(0.42, 0, 0.55, 1);
    color: #7beec7;
}

.buttonSend:active {
    background-color: #6adfb8;
    color: #6adfb8;
}

